@media (width <= 1200px) {
  .container {
    max-width: 960px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 25px;
      }
    }
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &-text {
            padding: 20px 70px 20px 0;

            &-description {
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

@media (width <= 992px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    max-width: 720px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 20px;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 80px;

      &__items {
        gap: 30px;
      }
    }
  }
  .about {
    &__wrapper {
      gap: 80px;

      &__items {
        gap: 40px;

        &-item {
          gap: 40px;

          &-text {
            padding: 20px 20px 20px 0;

            &-header {
              font-size: 18px;
            }

            &-description {
              line-height: 26px;
            }
          }

          &-img {
            height: 470px;
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      &__items {
        justify-content: space-evenly;
      }
    }
  }
}

@media (width <= 768px) {
  section {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .container {
    max-width: 540px;
  }
  .title {
    font-size: 32px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 16px;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 50px;

      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .about {
    &__wrapper {
      gap: 50px;

      &__items {
        &-item {
          position: relative;
          flex-direction: column-reverse;

          &:nth-child(n-1) {
            flex-direction: column-reverse;
          }

          &-text {
            width: 100%;
            padding: unset;
          }

          &-img {
            width: 100%;
            height: unset;
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      &__items {
        &-item {
          width: 46%;
        }
      }
    }
  }
}

@media (width <= 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .title {
    font-size: 30px;
  }
  .header {
    &__wrapper {
      &-item {
        &-nav {
          display: flex;
          flex-direction: column;
          height: 100dvh;
          width: 100%;

          overflow: hidden;

          background: var(--section-color);

          position: absolute;
          top: 0;
          right: 0;
          transform: translateY(-100%);

          &.active {
            overflow: unset;

            transform: translateY(0);

            z-index: 100;

            .header__wrapper-item {
              &-ul {
                height: 100%;
              }

              &-link {
                color: var(--main-color);

                &:hover {
                  color: var(--bg-color);
                }
              }
            }
          }
        }

        &-ul {
          flex-direction: column;
          justify-content: center;
        }

        &-link {
          color: var(--text-color);
        }
      }

      &-hamburger {
        display: flex;
        justify-content: space-around;
        &:hover {
          span {
            background: var(--text-color-inverted);
          }
        }
        &.active {
          z-index: 101;
          span:nth-child(1) {
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
          }
          span:nth-child(2) {
            display: none;
          }
          span:nth-child(3) {
            position: absolute;
            top: 50%;
            transform: rotate(-45deg);
          }
          &:hover {
            span {
              background: var(--bg-color);
            }
          }
        }
      }
    }
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 15px;
        line-height: 1.5;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 50px;

      &__items {
        grid-template-columns: repeat(1, 1fr);

        &-item {
          gap: 15px;

          &-img {
            width: 70px;
            height: 70px;

            img {
              max-height: 40px;
              max-width: 40px;
            }
          }

          &-text {
            font-size: 14px;
          }
        }
      }
    }
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &-text {
            &-header {
              font-size: 20px;
            }

            &-description {
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
  .footer {
    &__wrapper {
      &__items {
        flex-direction: column;
        gap: 30px;
        justify-content: space-evenly;
        &-item {
          width: 100%;
          br {
            display: none;
          }
        }
      }
    }
  }
}

@media (width <= 440px) {
  .title {
    font-size: 26px;
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &-text {
            &-header {
              font-size: 20px;
            }

            &-description {
              font-size: 16px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

@media (width <= 380px) {
  .title {
    font-size: 26px;
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &:nth-child(2n) {
            .about__wrapper__items-item-text {
              padding: 10px 10px 10px 10px;
            }
          }

          &-text {
            padding: 10px 10px 10px 0;
            gap: 20px;

            &-header {
              font-size: 18px;
            }

            &-description {
              font-size: 14px;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
