@media (width <= 1200px) {
  .container {
    max-width: 960px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 25px;
      }
    }
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &:nth-child(2n) {
            .about__wrapper__items-item-text {
              padding: 20px 70px 20px 20px;
            }
          }

          &-text {
            padding: 20px 70px 20px 0;

            &-header {
              font-size: 21px;
            }

            &-description {
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}

@media (width <= 992px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .container {
    max-width: 720px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 20px;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 80px;

      &__items {
        gap: 30px;
      }
    }
  }
  .about {
    &__wrapper {
      gap: 80px;

      &__items {
        &-item {
          &:nth-child(2n) {
            .about__wrapper__items-item-text {
              padding: 20px 20px 20px 20px;
            }
          }

          &-text {
            padding: 20px 20px 20px 0;

            &-header {
              font-size: 20px;
            }

            &-description {
              line-height: 28px;
            }
          }

          &-img {
            height: 500px;
          }
        }
      }
    }
  }
}

@media (width <= 768px) {
  .container {
    max-width: 540px;
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 16px;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 50px;

      &__items {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .about {
    &__wrapper {
      gap: 50px;

      &__items {
        &-item {
          position: relative;

          &:nth-child(2n) {
            .about__wrapper__items-item-text {
              padding: 20px 20px 20px 10px;
            }

            &::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              height: calc(100% - 4px);
              width: 100%;
              border-top: 2px solid var(--main-color);
              border-bottom: 2px solid var(--main-color);
              z-index: 10;
            }
          }

          &-text {
            width: 65%;
            padding: 20px 10px 20px 0;
          }

          &-img {
            width: 35%;
          }
        }
      }
    }
  }
}

@media (width <= 576px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
  .title {
    font-size: 32px;
  }
  .header {
    &__wrapper {
      &-item {
        &-nav {
          background: var(--section-color);
          position: absolute;
          top: 0;
          right: -100%;
          height: 100dvh;
          width: 100%;
          //todo: replace this when realise hamburger menu
          display: none;
        }

        &-ul {
          flex-direction: column;
          justify-content: center;
        }

        &-link {
          color: var(--text-color);
        }
      }

      &-hamburger {
        display: flex;
      }
    }
  }
  .heading {
    &__wrapper {
      &-header {
        font-size: 15px;
        line-height: 1.5;
      }
    }
  }
  .services {
    &__wrapper {
      gap: 50px;

      &__items {
        grid-template-columns: repeat(1, 1fr);

        &-item {
          gap: 15px;

          &-img {
            width: 70px;
            height: 70px;

            img {
              max-height: 40px;
              max-width: 40px;
            }
          }

          &-text {
            font-size: 14px;
          }
        }
      }
    }
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &-text {
            width: 70%;

            &-header {
              font-size: 20px;
            }

            &-description {
              font-size: 16px;
              line-height: 22px;
            }
          }

          &-img {
            width: 30%;
            height: 450px;
          }
        }
      }
    }
  }
}

@media (width <= 440px) {
  .title {
    font-size: 26px;
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &-text {
            width: 80%;

            &-header {
              font-size: 20px;
            }

            &-description {
              font-size: 16px;
              line-height: 22px;
            }
          }

          &-img {
            width: 20%;
            height: 470px;
          }
        }
      }
    }
  }
}

@media (width <= 380px) {
  .title {
    font-size: 26px;
  }
  .about {
    &__wrapper {
      &__items {
        &-item {
          &:nth-child(2n) {
            .about__wrapper__items-item-text {
              padding: 10px 10px 10px 10px;
            }
          }

          &-text {
            padding: 10px 10px 10px 0;
            gap: 20px;

            &-header {
              font-size: 18px;
            }

            &-description {
              font-size: 14px;
              line-height: 18px;
            }
          }

          &-img {
            height: 420px;
          }
        }
      }
    }
  }
}
