.footer {
  background: var(--footer-color);
  &__wrapper {
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 90px;

    &__title {
      color: var(--text-color-inverted);
    }

    &__items {
      display: flex;
      gap: 40px;
      justify-content: space-between;
      flex-wrap: wrap;

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: nowrap;
        text-align: left;
        list-style: none;
        a {
          color: var(--text-color-inverted);
        }
        &-header {
          height: 2em;
          margin-bottom: 16px;
          h3 {
            text-align: left;
            font-weight: 500;
            font-size: 16px;
          }
          color: var(--main-color);
        }
        &-text {
          color: var(--text-color-inverted);
          line-height: 28px;
          text-align: left;
          font-size: 16px;
          font-weight: 200;
        }
        &-address {
          margin-left: 16px;
          list-style: disc;
        }
      }
    }

    &__copyright {
      font-size: 12px;
      font-weight: 400;
      color: var(--text-color-inverted);
      text-align: left;
      padding: 30px 0;
    }
  }
}
