.heading {
  min-height: 581px;
  //remove addition sdu24.by whe upload to hosting! this for github pages!
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url('/sdu24.by/images/background/heading-bg.jpg');
  background-attachment: scroll, fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--static-text-color);
    &-header {
      font-size: 30px;
      line-height: 1.5;
      letter-spacing: 1px;
    }
    &-subheader {
      h2 {
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}
