@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap';

* {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
